@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --color-stroke-brandNeutral-1: #9EB1C2;
  --color-bg-brandNeutral-secondary-pressed: #C7D2DC;
  --color-bg-brandNeutral-primary: #4A5662;
  --color-bg-brandNeutral-secondary: #7A8FA3;
  --color-bg-brandNeutral-secondary-enabled: #F0F4F8;
  --color-bg-brandNeutral-secondary-hover: #D9E1E7;
  --color-bg-brandNeutral-subtle-pressed: #D9E1E7;
  --color-bg-brandNeutral-subtle-enabled: #ffffff;
  --color-bg-disabled-brandNeutral: #f0F4F8;
  --color-bg-neutral-primary: #ffffff;
  --color-fg-brandNeutral-secondary: #7A8FA3;
  --color-fg-onBrand-primary: #ffffff;
  --color-fg-primary: #4A5662;
  --color-fg-brand-secondary: #0D89BE;
  --color-fg-brandNeutral-primary: #4A5662;
  --color-fg-neutral-onInverse: #ffffff;
  --color-fg-neutral-primary: #1e1e1e;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
